.container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(4, 119px);
    grid-template-rows: repeat(4, 150px);
    margin: auto;
    grid-gap: 22px;
}

.tuile {
    cursor: pointer;
}